<h1 class="banner"> Stupid Coaching </h1>
<div class="card">
<h2><%=params[:question]%></h2>
<p>You</p>
</div>
<div class="card">
<h2><%=@answer%></h2>
<p>Your Coach</p>
</div>
<%= link_to "Ask another question!", ask_path %>
